# Copy this to ad-env.sh, and fill in with your own values

export TESTENV=activedirectory
export INTEGRATION_HOST=123.123.123.123
export INTEGRATION_PORT=389
export INTEGRATION_USER="CN=Administrator,CN=Users,DC=ad,DC=example,DC=com"
export INTEGRATION_PASSWORD='passworD1'
export INTEGRATION_SEARCH_DOMAINS='CN=Users,DC=example,DC=com'
