# Copy this to ad-env.sh, and fill in with your own values

export TESTENV=activedirectory
export ACTIVEDIRECTORY_HOST=123.123.123.123
export ACTIVEDIRECTORY_PORT=389
export ACTIVEDIRECTORY_USER="CN=Administrator,CN=Users,DC=ad,DC=example,DC=com"
export ACTIVEDIRECTORY_PASSWORD='passworD1'
export ACTIVEDIRECTORY_SEARCH_DOMAINS='CN=Users,DC=ad,DC=ghe,DC=local'
